## https://github.com/docker/build-push-action


name: php 8.3 OpenEuler ZTS

## 手动调度
on: workflow_dispatch

jobs:

  build:

    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      
    steps:
      - name: Check out the repo
        uses: actions/checkout@v5

      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./8.3-zts-openeuler
          file: ./8.3-zts-openeuler/Dockerfile
          push: true
          tags: |
            lzh1104/php-rc:8.3-zts-openeuler